.featuredVideo
  .featuredVideoPlayer
    object#featuredVideoPlayer2.BrightcoveExperience
      param(name='bgcolor', value='#000000')
      param(name='wmode', value='opaque')
      param(name='width', value='640')
      param(name='height', value='360')
      param(name='playerID', value='2114917554001')
      param(name='playerKey', value='AQ~~,AAAAAGL7FTI~,KqbVcw7NDYoM25kNE7w_xD1cc__MsE0S')
      param(name='isVid', value='true')
      param(name='isUI', value='true')
      param(name='dynamicStreaming', value='true')
      param(name='includeAPI', value='true')
      param(name='templateLoadHandler', value='brightcovePlayerLoaded')
      param(name='templateReadyHandler', value='brightcovePlayerReady')
  .featuredVideoPlaylist
    h3.featuredVideoPlaylistHeader Featured Video
    ul
      li(data-video-id='2119300117001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/businesstransformationcentre/images/InnovationHappens.JPG')
          .mediaBlockContent
            h4.featuredVideoTitle Oracle -- Innovation Happens
            p.featuredVideoSummary
      li(data-video-id='2119300118001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/businesstransformationcentre/images/CustomersChooseOracleforExtremeDataCenterPerformance.JPG')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #67: Hackers Will Try Anything
      li(data-video-id='2119320780001')
        .mediaBlock
          img(alt='', src='http://cdn.ttgtmedia.com/microsites/businesstransformationcentre/images/CustomersUseOracletoSimplifyData.JPG')
          .mediaBlockContent
            h4.featuredVideoTitle Tip #24: Tablets aren't Toys
