!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title FeaturedVideo Component Tests
    link(rel='stylesheet', href='css/style.css', media='screen')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../featuredVideo.js')
    script(src='js/test.js')
  body
    #micrositeContainer
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            h2 Header
          #micrositeContent
            #micrositeContentColumnFull
              ol
                li: a(href='#videoId=1982178965001') Tip #60: Merging Your Professional Life & Personal Life, All in One
                li: a(href='#videoId=1897188942001') Tip #67: Hackers Will Try Anything
                li: a(href='#videoId=1871056203001') Tip #24: Tablets aren't Toys
                li: a(href='#videoId=1871107119001') Tip #33: MDM Newsreel
                li: a(href='#videoId=1643120880001') Tip #297: Secure Environments Come from Secure Back Ends (last in list)
            .featuredVideoTestWrapper
              h2 Featured Video - autoplay disabled &amp; tooltips enabled
              include featuredVideo
            #micrositeContentColumnLeft
              p In scaevola molestiae vel, his eu omittam insolens. Ut his sale tritani, nam eu corpora argumentum eloquentiam, vim unum forensibus et. Ne alia atomorum cum. Eu interesset ullamcorper eos, cum ea quando intellegat. Ne alia atomorum cum. Eu interesset ullamcorper eos, cum ea quando intellegat. Ne alia atomorum cum. Eu interesset ullamcorper eos, cum ea quando intellegat. In mel dissentiunt intellegebat, quem illud te eos. Est ornatus legimus recteque ad, te oblique nonumes ius, ex paulo scaevola nec.
            #micrositeContentColumnRight
              p Et vel nihil discere delicata, pro autem fierent definitiones ea. Purto nostro tacimates in sea. Vel ea habeo pertinacia, has amet tollit suavitate te. Et quodsi rationibus cum. In eos dicta sanctus, adhuc civibus ad ius. Duo corrumpit incorrupte cu. Illum molestie mel cu, qui ei prompta bonorum probatus.
            div(style='clear: both;')
          #micrositeContentColumnFull
              ol
                li: a(href='./index.html#videoId=1834784326001') Tip #71: Not all Applications are Created Equal
                li: a(href='./index.html#videoId=1832858263001') Tip #3: A Lost Phone is no Reason to Panic
                li: a(href='./index.html#videoId=1832858253001') Tip #49: Picture ID Not Required When Using MDM Software
                li: a(href='./index.html#videoId=1828362629001') Tip #75: Don't Treat Lucky Caller #7 Like a Security Threat
                li: a(href='./index.html#videoId=1785579854001') Tip #28: Human Device Lock
                li: a(href='./index.html#videoId=1785590334001') Tip #111: An Unprotected Cell Phone is a Huge Risk. A Brick Isn't
                li: a(href='./index.html#videoId=1785136996001') Tip #98: It Always Starts With Just One Request
                li: a(href='./index.html#videoId=1768317771001') Tip #131: No Device- Personal or Work- Operates When Wet
                li: a(href='./index.html#videoId=1766325439001') Tip #174: Don't Risk the Business Over Four Digits
                li: a(href='./index.html#videoId=1745733539001') Tip #11: Don't Pay the Price of Free Apps
                li: a(href='./index.html#videoId=1730775741001') Tip #67: Multiple Devices Create Multiple Problems
                li: a(href='./index.html#videoId=1727315889001') Tip #84: Sloppiness is a choice. MDM isn't
                li: a(href='./index.html#videoId=1711303860001') Tip #114: They Can't Outrun MDM
                li: a(href='./index.html#videoId=1697332157001') Tip #72 Tee Up MDM for Secure Access, Anywhere
                li: a(href='./index.html#videoId=1677122305001') Tip #336: All QR Codes Aren't Created Equal, or Secure
                li: a(href='./index.html#videoId=1643143173001') Tip #116: Without Security, a Smartphone is a Megaphone
                li: a(href='./index.html#videoId=1643104443001') Tip #471: Blocking Attachments Isn't the Answer
                li: a(href='./index.html#videoId=1643120878001') Tip #782: Blocking App-by-App is Futile
                li: a(href='./index.html#videoId=1643104441001') Tip #118: It Doesn't Take a Wizard to Undermine Security
            #micrositeFooter
              h2 Footer