!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title FeaturedVideo Component Tests
    link(rel='stylesheet', href='style.css', media='screen')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../featuredVideo.js')
    script(src='test.js')
  body
    #micrositeContainer
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            h2 Header
          #micrositeContent
            #micrositeContentColumnFull
            .featuredVideoTestWrapper
              h2 Featured Video Player 1
              include featuredVideo

            .featuredVideoTestWrapper
              h2 Featured Video Player 2
              include featuredVideo2
            #micrositeFooter
              h2 Footer