
.featuredVideoTestWrapper { margin: 0 20px 50px; }


/* featured video component */
.featuredVideo { border: 1px solid #999; padding: 10px 0 10px 10px; margin: 0 0 25px; vertical-align: top; position: relative; *zoom: 1; }
.featuredVideo:before, .featuredVideo:after { content: ' '; display: table; }
.featuredVideo:after { clear: both; }
.featuredVideoPlayer { width: 640px; height: 360px; background-color: black; float: left; }
.noPlaylist .featuredVideoPlayer { width: 920px; height: 520px; }
.featuredVideoPlaylist { width: 280px; height: 380px; background-color: #ececec; float: right; margin: -10px 0; overflow-y: scroll; overflow-x: hidden; visibility: hidden; }
.featuredVideoPlaylistHeader { color: #fff; background-color: #444; font-size: 16px; font-weight: normal; padding: 3px 8px !important; margin: 0 !important; }
.featuredVideoPlaylist ul { list-style: none; padding: 0 !important; margin: 3px 0 3px !important; }
.featuredVideoPlaylist li { cursor: pointer; background-color: #fff; min-height: 66px; margin-bottom: 2px; border-left: 6px solid #ccc; }
.featuredVideoPlaylist li.active { border-left: 6px solid #2ba6cb; }
.featuredVideoPlaylist .featuredVideoTitle { font-size: 12px; margin: 0 !important; line-height: 1.3 !important; color: #000; font-weight: normal; }
.featuredVideoPlaylist .mediaBlock { padding: 8px 5px; margin: 1px 2px 0; }
.featuredVideoPlaylist .mediaBlock, .featuredVideoPlaylist .mediaBlockContent { overflow: hidden; _overflow: visible; *zoom: 1; }
.featuredVideoPlaylist .mediaBlock img { float: left; margin-right: 10px; display: block; width: 100px; height: 50px; }
.featuredVideoSummary { display: none; }
.featuredVideoPlaylistTooltip { display: none; z-index: 1; border: 1px solid #444; background-color: #fff; position: absolute; right: 288px; top: 0; min-height: 48px; width: 250px; padding: 8px 10px; font-size: 13px; line-height: 16px; box-shadow: 0 0 20px rgba(0, 0, 0, .5); }
.featuredVideoPlaylistTooltip:after{ content: ''; width: 0; height: 0; position: absolute; top: 50%; margin-top: -8px; right: -8px;  border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid #444; }
